@use "global" as *;

.p-archive-works__inner.l-inner {
  padding: 0 rem(15);
}

.p-archive-works__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(28) rem(30);
  }
}

.p-archive-works__image {
  position: relative;
}

.p-archive-works__image::before {
  content: "";
  display: block;
  padding-top: 68%;
}

.p-archive-works__image img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-archive-works__title {
  margin-top: rem(15);
}

.p-archive-works__name {
  text-align: center;
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
}

