@use "global" as *;

.p-company-info__items {
  margin-top: rem(30);
  @include mq("md") {

  }
}

.p-company-info__item {
  padding: rem(20) 0;
  border-bottom: 1px solid #ddd;
  @include mq("md") {
    display: flex;
    padding: rem(30) 0;
  }
}

.p-company-info__item dt {
  font-size: rem(16);
  font-weight: 600;
  @include mq("md") {
    width: rem(174);
  }
}

.p-company-info__item dd {
  margin-top: rem(10);
  @include mq("md") {
    margin-top: 0;
    width: calc(100% - rem(174));
  }
}

.p-company-info__map {
  margin-top: rem(40);
  aspect-ratio: 335 / 240;
  @include mq("md") {
    aspect-ratio: 1110 / 394;
    margin-top: rem(60);
  }
}

.p-company-info__map iframe {
  width: 100%;
  height: 100%;
}

.p-company-info__map-link {
  margin-top: rem(10);
}

.p-company-info__map-link a {
  font-size: rem(14);
  letter-spacing: 0.05em;
  color: #240c6a;
  @include mq("md") {
    font-size: rem(16);
  }
}