@use "global" as *;

.p-page-contact__text {
  font-size: rem(15);
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
  }
}

.p-page-contact__content {
  margin-top: rem(30);
  padding: rem(30);
  background-color: #f7f7f7;
  @include mq("md") {
    margin-top: rem(40);
    padding: rem(90);
  }
}