@use "global" as *;

.p-sub-mv {
  height: 190px;
  background-image: url(../images/common/sub-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq("md") {
    height: 240px;
  }
}

.p-sub-mv__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(94);
}

